<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Status Update: FINISHED</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #3498db;
        }

        p {
            line-height: 1.6;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            color: #777;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Reservation Status Update</h2>
        <p>Hello <%= user.firstName %> <%= user.lastName %>,</p>
        <p>Your reservation with the following details has been marked as <strong>FINISHED</strong>:</p>

        <ul>
            <li><strong>Reservation ID:</strong> <%= reservation.id %></li>
            <li><strong>Passenger:</strong> <%= reservation.passengers %> Person(s)</li>
            <li><strong>Pick-Up Date:</strong> <%= reservation.pickDate %></li>
            <li><strong>Drop-Off Date:</strong> <%= reservation.dropDate %></li>
            <li><strong>Pick-Up Location:</strong> <%= reservation.pickUp %></li>
            <li><strong>Drop-Off Location:</strong> <%= reservation.dropOff %></li>
            <li><strong>Vehicle:</strong> <%= vehicle.name %></li>
            <li><strong>Unit(s):</strong> <%= reservation.unit %> Car(s)</li>
            <li><strong>Overtime (Hours):</strong> <%= reservation.overtimeHour %></li>
            <li><strong>Total Price:</strong> Rp.<%= reservation.totalPriceAfterOvertime %>,00- </li>
            <li><strong>Finished Date: <%= reservation.finishedAt %></strong></li>
        </ul>

        <p>We hope you had a pleasant experience with our service. If you have any feedback or inquiries, please
            contact us.</p>

        <div class="footer">
            <p>Thank you for choosing our service!</p>
            <img src="https://bangteg.github.io/images/dampit-trans-logo.png" alt="Company Logo" style="max-width: 100px;">
        </div>
    </div>
</body>

</html>
